/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//

//Calendar Styles
.pane-physics-calendar{
  position: relative;
  background-color: #ffcf25;
  padding: 1.5em;

  .pane-title {
    margin-right: 5em;
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1.5em;
  }

  .view-header {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
  }

  .date-nav-wrapper {
    margin: 0;

    .date-nav {
      min-height: 0;
      padding: 0;
      margin: 0;

      .date-heading h3 {
        font-size: 1em;
        line-height: 1.5em;
        text-transform: uppercase;
        padding: 0 20px;
      }

      .pager {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0;

        li {
          display: inline-block;
          background: none;
          font-size: 0;
          line-height: 0;
          padding: 0;
          margin: 0;
        }

        a {
          display: inline-block;
          color: transparent;
          background: transparent url("../images/cfpa_cal_arrow.png") no-repeat;
          width: 10px;
          height: 24px;
          line-height: 24px;
          font-size: 0;
          padding: 0;
          margin: 0;
        }

        .date-prev {
          left: 0;
          right: auto;

          a {
            background-position: left center;
          }
        }

        .date-next {
          right: 0;
          left: auto;

          a {
            background-position: right center;
          }
        }

        .ajax-progress {
          display: none;
        }
      }
    }
  }

  table {
    border: 1px solid #ddd;
  }

  table.mini {

    td.mini, td.empty {
      padding: 0;
      border-bottom-width: 0;
      border: 1px solid #ddd;

      div {
        padding: 0.1em 0.3em 0.6em 0.3em;
      }
    }

    td.today {
      color: #fff;
      background-color: #8eb6cf;
    }

    td.has-evnets a {
      font-weight: bold;
    }
  }

  .calendar-empty {
    dispaly: none;
    font-size: 0;
    line-height: 0;
  }

  th.days {
    background-color: #f3f3f3;
    color: #003f87;
    font-weight: normal;
    border-color: #ddd;
  }
}

.date-nav .pager {
  position: relative;
}
.events-calendar-day-view .views-row {
  padding: 0.75em 0;
  border-bottom: 1px solid #eee;
}

.physics-reservation-calendar {
  thead {
    #Saturday, #Sunday {
      display: none;
    }
  }

  tbody {
    td[headers="Sunday"], td[headers="Saturday"] {
      display: none;
    }
  }
}

.calendar-calendar {
  .views-field-title {
    line-height: 1.5;
  }
  
  .month-view {
    .full tr.date-box {
      background-color: #eee;
    }
    .full tr td.multi-day div.monthview {
      height: 2.5em;
    }
    .full td.multi-day .inner div a {
      background-color: #ffc;
    }
  }

  .inner,
  .calendar-empty {
    min-height: 8.5em;
    height: 8em;
  }
  .multi-day {
    background-color: #fff;
  }
  .single-day {
    background-color: #fff;
  }
}
.view-events-calendar-calendar- .feed-icon {
  margin-top: 1.5em;
}

//Facebook feed styles
$offset: 55px;
.pane-facebook-pull-facebook-pull-default {
  background-color: #ddd;
  padding: 10px;
}

ul.facebook-feed {
  background-color: white;

  .item {
    padding: 10px;
    &:not(:last-child) {
      border-bottom: 5px solid #eee;
    }
    &:last-child {
      margin: 0;
    }
  }
  .facebook-feed-picture {
    height: 0;
  }
  .facebook-feed-message {
    display: block;
    margin-left: $offset;

    a {
      display: block;
      float: right;
      position: relative;
      top: 5px;
      font-size: 14px;
    }
  }
  .facebook-feed-from {
    color: #777;
  }
  .facebook-feed-time {
    margin-left: $offset;
    margin-top: 5px;
    display: inline-block;
  }
  .facebook-more-link {
    float: right;
    margin-top: 5px;
  }
}

.wwu-img-caption-figure {
	display: table;
}

.wwu-img-caption-figcaption {
	display: table-caption;
	caption-side: bottom;
}
